input {
    udp {
        port => 5000
        codec => json
        buffer_size => 65507
    }
    tcp {
        port  => 5000
        codec => json
    }
}

output {
    elasticsearch {
        hosts => ["{{ var "ES_ENDPOINT" }}:443"]
        ssl => true
        index => "{{ var "ES_INDEX" | default "logstash" }}-%{+YYYY.MM.dd}"
    }
}

filter {
    multiline {
        pattern => "^(%{TIMESTAMP_ISO8601})|(\[[A-Za-z0-9-]+\])"
        negate => true
        what => "previous"
    }
    grok {
        match => [
            "message", "(?m)%{TIMESTAMP_ISO8601:logtime}%{SPACE}%{LOGLEVEL:loglevel}%{SPACE}%{NUMBER:pid}%{SPACE}---%{SPACE}\[(?<thread>[\sA-Za-z0-9-]+)\]%{SPACE}((%{JAVACLASS:class})|(?<class>[A-Za-z0-9\.\[\]\/]+))%{SPACE}:%{SPACE}%{GREEDYDATA:logmessage}"
        ]
    }
}
